{% extends 'layout.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <img src="images/logo.png" alt="UpGrowth MVP" width="75%" style="margin-bottom:1em;">
        <form method='POST' action=''>
          <label for="myNameInput">My name</label>
          <input class="u-full-width" type="text" placeholder="Kat" id="myNameInput" name="myName">
          <label for="theirNameInput">Their name</label>
          <input class="u-full-width" type="text" placeholder="Joe" id="theirNameInput" name="theirName">
          <legend>Word(s) to describe them</legend>
          <ul class="ks-cboxtags">
            <li><input type="checkbox" id="checkboxOne" name="checkboxOne" value="{{ one }}"><label for="checkboxOne">{{ one }}</label></li>
            <li><input type="checkbox" id="checkboxTwo" name="checkboxTwo" value="{{ two }}"><label for="checkboxTwo">{{ two }}</label></li>
            <li><input type="checkbox" id="checkboxThree" name="checkboxThree" value="{{ three }}"><label for="checkboxThree">{{ three }}</label></li>
            <li><input type="checkbox" id="checkboxFour" name="checkboxFour" value="{{ four }}"><label for="checkboxFour">{{ four }}</label></li>
            <li><input type="checkbox" id="checkboxFive" name="checkboxFive" value="S{{ five }}"><label for="checkboxFive">{{ five }}</label></li>
            <li><input type="checkbox" id="checkboxSix" name="checkboxSix" value="{{ six }}"><label for="checkboxSix">{{ six }}</label></li>
            <li><input type="checkbox" id="checkboxSeven" name="checkboxSeven" value="{{ seven }}"><label for="checkboxSeven">{{ seven }}</label></li>
            <li><input type="checkbox" id="checkboxEight" name="checkboxEight" value="{{ eight }}"><label for="checkboxEight">{{ eight }}</label></li>
            <li><input type="checkbox" id="checkboxNine" name="checkboxNine" value="{{ nine }}"><label for="checkboxNine">{{ nine }}</label></li>
            <li><input type="checkbox" id="checkboxTen" name="checkboxTen" value="{{ ten }}"><label for="checkboxTen">{{ ten }}</label></li>
            <li class="other" onclick="showOther();">Something&nbsp;else...</li>
          </ul>
          <input class="u-full-width" type="text" placeholder="Type custom word here" id="otherWordInput" name="otherWord">
          <div style="margin-top: 1em;">
            <button onClick="window.location.reload();">Refresh</button>
            <input class="button-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
